name: disease-images

on:
  workflow_dispatch

permissions:
  id-token: write
  contents: read
  packages: write

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: read
        packages: write
    strategy:
      fail-fast: False
      matrix:
        disease_path: [covid_jax_model]
    steps:
    - uses: actions/checkout@v6
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Verify Image will build when not a tag
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      run: docker build . -t pansim-compartment-${{matrix.disease_path}}
    - name: Build and push Docker image
      if: github.repository == 'WHO-Collaboratory/pandemic-simulator-compartment' && startsWith(github.ref, 'refs/tags/')
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/pansim-compartment-${{matrix.disease_path}}:${{ github.ref_name }}
          ghcr.io/${{ github.repository }}/pansim-compartment-${{matrix.disease_path}}:latest
        build-args: |
          MODEL_DIR=compartment/examples/${{matrix.disease_path}}/
        